.detailedGameCard {
  padding: 0 1rem;
}

.cardInner {  display: grid;
  grid-template-columns: 1fr 1fr 1.1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    "cardContainer carouselContainer carouselContainer carouselContainer"
    "cardContainer carouselContainer carouselContainer carouselContainer"
}

.cardContainer { grid-area: cardContainer; }

.carouselContainer { grid-area: carouselContainer; }

.arrowBack {
  color: var(--font-grey);
  width: 3rem;
  font-size: 3rem;
  height: 3rem;
}

.arrowBack:hover {
  cursor: pointer;
}

.userFeedback {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  width: 300px;
  text-align: center;

  color: var(--font-grey);
}

.hide {
  display: none;
}

.loadingScreens {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-grey)
}

@media (max-width: 900px) {
  .cardInner {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }
}


